body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

ul {
    list-style-type: disc;
    list-style-position: inside;
}
ol {
    list-style-type: decimal;
    list-style-position: inside;
}
ul ul, ol ul {
    list-style-type: circle;
    list-style-position: inside;
    margin-left: 15px;
}
ol ol, ul ol {
    list-style-type: lower-latin;
    list-style-position: inside;
    margin-left: 15px;
}

#top-bar {
    padding: 0.25em;
    box-shadow: 0px 3px 3px grey;
}

#content {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    flex: 1 0 auto;
}

.bar {
    width: 100%;
    background: lightgrey;
}

.bar-item {
    font-size: 2em;
    display: block;
}

.card {
    padding: 0.5em;
    margin-bottom: 1em;
    box-shadow: 3px 3px 3px grey;
    border: 1px solid grey;
    border-radius: 3px;
}

.center {
    text-align: center;
}
