body {
    padding: 1em;
    background-color: #F9F9FA;
    font-family: sans-serif;
}
h3 {
    font-size: 30px;
    font-weight: 300;
}
h4 {
    font-size: 20px;
    font-weight: 300;
}
.card {
    width: 400px;
    display: inline-block;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin: 0 0 1em;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
a.card-title {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
}
.card:hover {
    box-shadow: 0 2px 4px rgba(0,0,0,0.25), 0 2px 3px rgba(0,0,0,0.22);
}
.card.upToDate {
    background-color: #ffffff;
}
.card.noData {
    background-color: #eceff1;
}
.card.outOfDate {
    background-color: #ffebee;
}
hr {
    border-top-color: rgba(0,0,0,.12);
    color: transparent;
}
.card-content {
    padding: 1em;
}

.ring-container {
    position: relative;
    top: 5px;
    right: 5px;
}

.circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    right: 4px;
}

.ringring {
    border-radius: 30px;
    height: 10px;
    width: 10px;
    position: absolute;
    right: 0px;
    top: 0px;
    animation: pulsate 3s ease-out;
    animation-iteration-count: infinite;
    opacity: 0.0
}

@keyframes pulsate {
    0% {transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {transform: scale(1.2, 1.2); opacity: 0.0;}
}

.circle.green {
    background-color: #62bd19;
}

.ringring.green {
    border: 3px solid #62bd19;
}

.circle.red {
    background-color: #d2194f;
}

.ringring.red {
    border: 3px solid #d2194f;
}

.circle.grey {
    background-color: #aaaaaa;
}

.ringring.grey {
    border: 3px solid #aaaaaa;
}

ul {
    margin: 10px;
}

b {
    font-weight: 600;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
thead {
    color: rgba(0,0,0,0.6);
}
td, th {
    padding: 15px 5px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border-radius: 2px;
}
tr {
    border-bottom: 1px solid
    rgba(0,0,0,0.12);
}

.references a {
    text-decoration: none;
}

.references {
    display: inline;
    vertical-align: super;
    font-size: 12px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 600px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px;
  top: 30px;
  left: 50px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.thirdcolumn {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
